@media (min-width: 2000px) {
  .container {
    max-width: 1500px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1999.98px) {
}

// Large devices (desktops, 992px and up)
@media (max-width: 1199.98px) {
  h1,
  h2 {
    font-size: 30px;
    line-height: 26px;
  }
  h3 {
    font-size: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
}

@media (max-width: 859.98px) {
  .ceo {
    background: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767.98px) {
  h1,
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }

  .first-box,
  .second-box {
    flex-direction: column;
    .box-img,
    .box-info {
      width: 100%;
    }
  }

  .first-screen-app,
  .second-screen-app {
    flex-direction: column;
    .screen-img,
    .screen-info {
      width: 100%;
    }
  }
  .second-screen-app,
  .second-box {
    flex-direction: column-reverse;
  }

  .ceo {
    flex-direction: column;
    background-color: #fff;
    .ceo-img,
    .ceo-info {
      width: 100%;
    }
    .ceo-info {
      background: none;
      .about-ceo,
      .work-position {
        background-color: #ecefff;
      }
    }
  }

  .offers-btn {
    button {
      margin: 30px 0;
      font-size: 12px;
      width: 170px;
      height: 40px;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  h1,
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 12px;
  }
  footer {
    h5 {
      font-size: 16px;
    }
    .dev-img {
      width: 40px;
      height: 40px;
      margin: 0 20px;
    }
  }
}
