.offers-info {
  h3 {
    color: #4b5863;
    opacity: 0.25;
  }
}
.offers-btn {
  button {
    margin: 50px 0;
    font-size: 14px;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    color: #43a9ff;
    width: 230px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 22px;
    box-shadow: 0px 0px 35px 0px rgba(218, 229, 239, 0.95);
  }
}
